In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_dynamic_hits@k_doi_collectionType_knn_results.csv')

In [3]:
df

        k         algorithm          edge_group  split dynamic_stage  value
0       1         deep_walk            doi_name    0.8           1st    0.0
1       1         deep_walk            doi_name    0.8           2nd    0.0
2       1         deep_walk            doi_name    0.8           3rd    0.0
3       1         deep_walk            doi_name    0.8           4th    0.0
4       1         deep_walk            doi_name    0.8           1st    0.0
...    ..               ...                 ...    ...           ...    ...
10995  50  regularization_2  doi_collectionType    0.8           4th    1.0
10996  50  regularization_2  doi_collectionType    0.8           1st    1.0
10997  50  regularization_2  doi_collectionType    0.8           2nd    1.0
10998  50  regularization_2  doi_collectionType    0.8           3rd    1.0
10999  50  regularization_2  doi_collectionType    0.8           4th    1.0

[11000 rows x 6 columns]

In [4]:
import pandas as pd

# Define the mapping from properties to (k, edge_group)
property_config = {
    'C': (50, 'doi_name'),
    'B': (5, 'doi_bioActivity'),
    'S': (50, 'doi_collectionSpecie'),
    'L': (20, 'doi_collectionSite'),
    'T': (1, 'doi_collectionType')
}

# Get the unique algorithms from the DataFrame
algorithms = df['algorithm'].unique()

# Generate the summary DataFrames
summary_dfs = {}

for algo in algorithms:
    summary = pd.DataFrame(index=property_config.keys(), columns=['1st', '2nd', '3rd', '4th'])
    
    for prop, (k_val, edge) in property_config.items():
        filtered = df[
            (df['algorithm'] == algo) &
            (df['k'] == k_val) &
            (df['edge_group'] == edge)
        ]
        # Get the maximum value for each stage
        max_values = filtered.groupby('dynamic_stage')['value'].max()
        for stage in ['1st', '2nd', '3rd', '4th']:
            summary.loc[prop, stage] = max_values.get(stage, 0.0)
    
    summary_dfs[algo] = summary.astype(float)

# Access the result for each algorithm:
# summary_dfs['deep_walk'], summary_dfs['regularization_2'], etc.

In [5]:
summary_dfs['deep_walk']

        1st       2nd       3rd       4th
C  0.104520  0.000000  0.000000  0.000000
B  0.481707  0.254717  0.235294  0.242424
S  0.500000  0.310345  0.333333  0.370370
L  0.675000  0.530864  0.436364  0.518519
T  0.384615  0.215190  0.185185  0.185185

In [6]:
summary_dfs['node2vec']

        1st       2nd       3rd       4th
C  0.118644  0.000000  0.000000  0.000000
B  0.542683  0.226415  0.094595  0.137931
S  0.451613  0.264368  0.310345  0.392857
L  0.666667  0.445783  0.333333  0.379310
T  0.179487  0.088608  0.092593  0.185185

In [7]:
summary_dfs['metapath2vec']

        1st       2nd       3rd       4th
C  0.112994  0.107843  0.160714  0.465116
B  0.298780  0.273585  0.229508  0.241379
S  0.459677  0.453488  0.454545  0.555556
L  0.500000  0.523810  0.581818  0.629630
T  0.341880  0.259259  0.236364  0.250000

In [8]:
summary_dfs['regularization']

        1st       2nd       3rd       4th
C  0.098870  0.031250  0.032787  0.048780
B  0.554878  0.673077  0.754098  0.866667
S  0.467742  0.287356  0.368421  0.407407
L  0.616667  0.691358  0.672727  0.703704
T  0.863248  0.827160  0.833333  0.814815

In [9]:
summary_dfs['regularization_2']

        1st       2nd       3rd       4th
C  0.098870  0.000000  0.000000  0.000000
B  0.597561  0.653846  0.716216  0.878788
S  0.443548  0.298851  0.327273  0.321429
L  0.675000  0.703704  0.690909  0.740741
T  0.786325  0.787500  0.763636  0.714286